@font-face {
  font-family: "Arial-Black";
  font-display: swap;
  src: local("Arial-Black"), url("/fonts/arial-black.ttf");
}

* {
  font-family: Arial-Black, sans-serif;
}

html {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  background: black;
  overflow-x: hidden;
  min-height: 100vh;
}

h1 {
  font-family: "Arial-Black", sans-serif;
  font-size: 42px;
  padding: 0px;
  margin: 5px;
}

a {
  text-decoration: none;
  width: min-content;
}

@media screen and (max-width: 460px) {
  h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 24px;
  }
}
