.Job-root {
  padding: 5px;
  margin: 5px 0px;
}

.Job-grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.Job-img {
  width: 40px;
  height: 40px;
  padding-right: 10px;
}

.Job-location,
.Job-date {
  color: lightgrey;
}

.Job-description {
  padding-top: 10px;
}

.Job-date-mobile {
  display: none;
}

@media screen and (max-width: 540px) {
  .Job-grid {
    grid-template-columns: min-content 1fr;
  }

  .Job-date {
    display: none;
  }

  .Job-date-mobile {
    display: block;
  }

  .Job-img {
    height: 60px;
    width: 60px;
  }
}
