.Layout-root {
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  max-width: 1200px;
  overflow-x: hidden;
  margin: 0px auto;
}

@media screen and (max-width: 450px) {
  .Layout-root {
    padding-left: 20px;
    padding-right: 20px;
  }
}
