.HomePage-top {
  padding-top: 20px;
}

.HomePage-social {
  padding-top: 10px;
}

.HomePage-body {
  padding-top: 100px;
}

@media screen and (min-height: 540px) {
  .HomePage-bottom {
    position: absolute;
    top: calc(100vh - 30px);
  }
}
@media screen and (max-height: 540px) {
  .HomePage-bottom {
    position: relative;
    padding: 10px 0px;
  }
}
